ul{
    display: flex;
    flex-direction: row;
    gap: 4rem
}
li{
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 1rem;
    overflow: hidden;
}
.container {
    padding: 1rem;
}